@import '../utils';

.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  font-family: $pretendard;

  &.default {
    background-color: $gray;
  }

  &.positive {
    background-color: $green;
  }

  &.negative {
    background-color: $red;
  }
}