@import './utils';

header {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  font-family: $pretendard;

  > div, nav {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
  }

  .logo {
    width: 25%;
    justify-content: start;

    img {
      width: 30px;
      margin-right: 5px;
      cursor: pointer;
    }

    span {
      color: $deep-gray;
      font-size: 22px;
      font-family: "Staatliches", sans-serif;
      cursor: pointer;
    }
  }

  nav {
    width: 50%;
    justify-content: center;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .user-container {
    width: 25%;
    justify-content: end;

    svg {
      color: $deep-gray;
      font-size: 30px;
      margin-right: 13px;
      cursor: pointer;
    }

    img {
      width: 30px;
      cursor: pointer;
    }

    .signup, .signin, .signout {
      font-size: 14px;
      font-weight: 600;
      color: $deep-gray;
      margin-left: 10px;
    }

    .notify, .github {
      margin-left: 20px;
    }
  }
}