@import './utils.scss';

.Menu {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: $right-gray;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }

  svg {
    color: $deep-gray;
    font-size: 25px;
  }
}

.menu-active {
  background: $bright-violet;
}